In [1]:
import pandas as pd

In [3]:
#load data
df = pd.read_csv('data_set/ShelterDogs.csv')

In [4]:
df.head()

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in
0,23807,Gida,0.25,female,Unknown Mix,12/10/19,12/11/19,12/11/19,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,533,Frida És Ricsi,0.17,female,Unknown Mix,12/1/19,12/1/19,12/9/19,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,NaN
2,23793,NaN,4.00,male,Unknown Mix,12/8/19,12/23/19,12/8/19,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23795,NaN,1.00,male,Unknown Mix,12/8/19,12/23/19,12/8/19,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23806,Amy,2.00,female,French Bulldog Mix,12/10/19,12/11/19,12/11/19,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2937 entries, 0 to 2936
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2937 non-null   int64
 1   name               2845 non-null   object
 2   age                2937 non-null   float64
 3   sex                2937 non-null   object
 4   breed              2937 non-null   object
 5   date_found         2937 non-null   object
 6   adoptable_from     2937 non-null   object
 7   posted             2937 non-null   object
 8   color              2937 non-null   object
 9   coat               2937 non-null   object
 10  size               2937 non-null   object
 11  neutered           1852 non-null   object
 12  housebroken        460 non-null    object
 13  likes_people       1999 non-null   object
 14  likes_children     1219 non-null   object
 15  get_along_males    1633 non-null   object
 16  get_along_females  1673 non-null   object
 17  get_along_cats     431 non-null    object
 18  keep_in            1916 non-null   object
dtypes: float64(1), int64(1), object(17)
memory usage: 436.1+ KB

In [7]:
df.describe(include ='O')

,name,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in
count,2845,2937,2937,2937,2937,2937,2937,2937,2937,1852,460,1999,1219,1633,1673,431,1916
unique,2016,2,277,1583,1578,1167,23,4,3,2,2,2,2,2,2,2,3
top,Lili,male,Unknown Mix,5/3/10,5/3/10,10/2/12,black,short,medium,yes,yes,yes,yes,yes,yes,yes,both flat and garden
freq,18,1681,1524,36,36,61,620,1972,1944,1151,405,1991,1172,1470,1595,275,1224

### Setting category variables

#### Set categories method

In [14]:
df.coat = df.coat.astype('category')

In [15]:
df.coat.value_counts(dropna = False)

short         1972
medium         565
wirehaired     220
long           180
Name: coat, dtype: int64

In [23]:
df.coat = df.coat.cat.set_categories(new_categories = ['short','medium','long'], ordered = True)

In [24]:
df.coat.value_counts(dropna = False)

short     1972
medium     565
NaN        220
long       180
Name: coat, dtype: int64

In [25]:
df.coat.head()

0     short
1     short
2     short
3    medium
4     short
Name: coat, dtype: category
Categories (3, object): ['short' < 'medium' < 'long']

#### add categories method

In [26]:
df['likes_people'].value_counts(dropna = False)

yes    1991
NaN     938
no        8
Name: likes_people, dtype: int64

In [29]:
df['likes_people'] = df['likes_people'].astype('category')

In [30]:
df['likes_people'] = df['likes_people'].cat.add_categories(
                        new_categories = ['did not check', 'could not tell'])

In [33]:
df['likes_people'].value_counts(dropna = False)

yes               1991
NaN                938
no                   8
could not tell       0
did not check        0
Name: likes_people, dtype: int64

#### remove categories method

In [35]:
df.coat = df.coat.cat.remove_categories(removals = ['short'])

In [37]:
df.coat.value_counts(dropna = False)

NaN       2192
medium     565
long       180
Name: coat, dtype: int64

### Updating categories

In [38]:
df.breed = df.breed.astype('category')
df.breed.value_counts()

Unknown Mix                                                           1524
German Shepherd Dog Mix                                                190
Dachshund Mix                                                          147
Labrador Retriever Mix                                                  83
Staffordshire Terrier Mix                                               62
                                                                      ...
German Shepherd Dog, Pumi Mix                                            1
German Shepherd Dog, Pinscher, Siberian Husky Mix                        1
German Shepherd Dog, Mudi Mix                                            1
German Shepherd Dog, Labrador Retriever, Staffordshire Terrier Mix       1
German Pointer, Staffordshire Terrier Mix                                1
Name: breed, Length: 277, dtype: int64

#### Rename categories method

In [50]:
rename_dict = {'Unknown Mix':'Unknown', 'Mixed Breed': 'Unknown'}
df.breed = df.breed.cat.rename_categories(new_categories = rename_dict)
df.breed = df.breed.cat.rename_categories(lambda x: x.upper())

In [51]:
df.breed.value_counts()

UNKNOWN                                                               1524
GERMAN SHEPHERD DOG MIX                                                190
DACHSHUND MIX                                                          147
LABRADOR RETRIEVER MIX                                                  83
STAFFORDSHIRE TERRIER MIX                                               62
                                                                      ...
GERMAN SHEPHERD DOG, PUMI MIX                                            1
GERMAN SHEPHERD DOG, PINSCHER, SIBERIAN HUSKY MIX                        1
GERMAN SHEPHERD DOG, MUDI MIX                                            1
GERMAN SHEPHERD DOG, LABRADOR RETRIEVER, STAFFORDSHIRE TERRIER MIX       1
GERMAN POINTER, STAFFORDSHIRE TERRIER MIX                                1
Name: breed, Length: 277, dtype: int64

#### Collapsing categories

In [52]:
df['color'].value_counts()

black              1252
brown               293
yellow-brown        212
apricot             142
brown and white     124
white               124
sable               118
tricolor             99
saddle back          91
striped              89
gray                 64
yellow               63
golden               61
red                  53
spotty               47
gray and white       35
gray and black       28
wild boar            18
red and white        14
dotted               10
Name: color, dtype: int64

In [53]:
update = {'black and brown':'black',
           'black and white':'black',
             'black and tan':'black'}

df['color'] = df['color'].replace(update)

In [54]:
df['color'] = df['color'].astype('category')

In [55]:
df['color'].value_counts()

black              1252
brown               293
yellow-brown        212
apricot             142
brown and white     124
white               124
sable               118
tricolor             99
saddle back          91
striped              89
gray                 64
yellow               63
golden               61
red                  53
spotty               47
gray and white       35
gray and black       28
wild boar            18
red and white        14
dotted               10
Name: color, dtype: int64

#### Reordering categories

In [61]:
df['size'].value_counts(dropna = False)

medium    1944
large      519
small      474
Name: size, dtype: int64

In [62]:
df['size'] = df['size'].astype('category')

In [63]:
df['size'].cat.categories

Index(['large', 'medium', 'small'], dtype='object')

In [65]:
#reordering categories

df['size'] = df['size'].cat.reorder_categories(new_categories = ['small', 'medium', 'large'],
                    ordered = True)

In [69]:
df['size'].head()

0     small
1     small
2    medium
3    medium
4     small
Name: size, dtype: category
Categories (3, object): ['small' < 'medium' < 'large']